.topContainer{
    background: url('../../assests/flying.gif');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    box-shadow:inset 0 0 0 2000px rgb(0,0,0,0.5);
}
.topContent_downloadButton{
    color: white;
    background-color: #f64c08;
    font-size: 14px;
    padding: 10px 30px;
    font-family: "montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}

.topContent_downloadButton:hover{
 color: #f64c08;
 background-color: white;
 font-weight: 600;
}

.topContent_workButton{
    color:white;
    border: 1px solid white !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.topContent_workButton:hover{
    color: black;
    background-color: white;
    font-weight: 600;
}